.calc-item{
    display: flex;
    justify-content: space-evenly;
}
.calc-income-expens{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.diagram{
}
.current-account{
}
.diagram{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.income{
    position: relative;
    margin: 25px 0 0 150px;
}
.diagram-income{
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 30px;    
    background-color: gold;
}
.expenses{
    position: relative;
    margin-top: 25px;
}
.diagram-expenses{
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 30px;
    background-color: maroon;
}
.current-account{
    position: relative;
    margin: 25px 150px 0 0;
}
.diagram-account{
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 30px;
    background-color: darkgreen;
}